:root {
  //COLORS
  --gray-100: #FFFFFF;
  --gray-200: #F2F3F6;
  --gray-300: #E9EBEE;
  --gray-600: #B5B5B6;
  --gray-700: #848587;
  --gray-900: #1C1C1C;

  --green-100: #A3F9B9;
  --green-400: #40B25C;
  --green-600: #1C6C3E;

  --red-500: #DA4B4F;
  --red-600: #C22539;

  --pink-100: #FEE5EC;

  //ICONS
  --wishListDefault: url("../assets/icons/wishlist.svg");
  --wishListHover: url("../assets/icons/wishlist-hover.svg");
  --wishListAdded: url("../assets/icons/wishlist-added.svg");
  --wishListAddedHover: url("../assets/icons/wishlist-added-hover.svg");
  --check: url("../assets/icons/check.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-300);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
}